* {
  padding: 0;
  margin: 0;
  font-family: "Kantumruy Pro", sans-serif;
}
body {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  height: 100vh;
  background-color: #f0f0f0;
}

h1 {
  text-align: center;
  margin: 10px 0;
}
table {
  border-collapse: collapse;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: white;
}
table thead {
  background-color: #3e53c9;
  color: white;
}
table th,
table td {
  padding: 12px 20px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tbody tr:hover {
  background-color: #cbd4f5;
}
